:root {
    --cor-titulo: #1c1c1c
}

body {
    background-color: gray;
    margin: 0;
    text-align: center;
}

.MenuPrincipal {
    color: darkred;
    font-size: 4rem;
    font-weight: bold;
    background-color: darkgray;
    height: 100px;
    padding: 10px;
    line-height: 100px;
    text-align: center;
    border: 5px solid darkred;
}

.SubMenu {
    font-size: 2rem;
    margin: 20px;
    line-height: 50px;
}

.LinkTextos {
    font-size: 1.5rem;
    font-weight: initial;
    margin: 15px;
    height: 15px;
}

.MenuLink {
    font-size: 25px;
    color: darkred;
    text-decoration: dotted;
    padding: 10px;
    line-height: 75px;
    

}

.MenuLinkli {
    height: 45px;
}

.TitulosAll {
    font-size: 3.75rem;
    color: darkred;
    line-height: 100px;
    background-color: darkgray;
    height: 150px;
    line-height: 75px;
    text-align: center;
    border: 5px solid darkred;
    padding: 10px;
    font-weight: bold;
}

.imgC10 {
    width: 600px;
    border-radius: 8px;
    margin: 15px;
}

.ChevySubtitulo {
    font-size: 2.5rem;
    margin: 15px;
}

.ChevyTexto {
    font-size: 1.5rem;
    line-height: 32px;
    margin: 15px;
}

.Links {
    font-size: 25px;
    color: darkred;
    text-decoration: dotted;
    background-color: darkgray;
    border: 2px solid darkred;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
}

.FordTitulo {
    font-size: 3.75rem;
    color: darkred;
    line-height: 100px;
    background-color: darkgray;
    border: 5px solid darkred;
    padding: 10px;
    text-align: center;
    height: 100px;
    font-weight: bold;
}

.imgGTD {
    width: 600px;
    border-radius: 8px;
    margin: 15px;
}

.FordSubtitulo {
    font-size: 2.5rem;
    margin: 15px;
}

.FordTexto {
    font-size: 1.5rem;
    line-height: 32px;
    margin: 15px;
}

.OnixTitulo {
    font-size: 3.75rem;
    color: darkred;
    line-height: 100px;
    background-color: darkgray;
    border: 5px solid darkred;
    padding: 10px;
    text-align: center;
    height: 200px;
    font-weight: bold;
}

.OnixImagem {
    width: 600px;
    border-radius: 8px;
    margin: 15px;
}

.OnixSubTitulo {
    font-size: 2.5rem;
    margin: 15px;
    height: 125px;
    
}

.OnixTexto {
    font-size: 1.5rem;
    line-height: 32px;
    margin: 15px;
}

.Divs {
    background-color: darkgray;
    border: 5px solid darkred;
    margin: 15px;
    border-radius: 16px;
}

.ADASTitulo {
    font-size: 3.75rem;
    color: darkred;
    line-height: 100px;
    background-color: darkgray;
    border: 5px solid darkred;
    padding: 10px;
    text-align: center;
    height: 100px;
    font-weight: bold;
}

